In [1]:
#import pandas and numpy library
import pandas as pd
import numpy as np

In [5]:
data={"Ord_no":[70001,np.nan,70002,70004,np.nan,70005,np.nan,700010,70003,70012,np.nan,70013],
    "Punch_amt":[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45,75.29,3045.6],
      "Ord_data":["2012-10-05","2012-09-10",np.nan,"2012-08-17","2012-09-10","2012-07-27","2012-09-10","2012-10-10","2012-10-10","2012-06-27","2012-08-17","2012-04-25"],
      "Customer_id":[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
      "Salesman_id":[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]
    }

#convert the data to dataframe
d_frame=pd.DataFrame(data)
print("Original orders DataFrame:")
print(d_frame)
print()

print("Missing values of the said DataFrame:")
#print the sum of null values
d_frame.isnull().sum()

Original orders DataFrame:
      Ord_no  Punch_amt    Ord_data  Customer_id  Salesman_id
0    70001.0     150.50  2012-10-05         3002       5002.0
1        NaN     270.65  2012-09-10         3001       5003.0
2    70002.0      65.26         NaN         3001       5001.0
3    70004.0     110.50  2012-08-17         3003          NaN
4        NaN     948.50  2012-09-10         3002       5002.0
5    70005.0    2400.60  2012-07-27         3001       5001.0
6        NaN    5760.00  2012-09-10         3001       5001.0
7   700010.0    1983.43  2012-10-10         3004          NaN
8    70003.0    2480.40  2012-10-10         3003       5003.0
9    70012.0     250.45  2012-06-27         3002       5002.0
10       NaN      75.29  2012-08-17         3001       5003.0
11   70013.0    3045.60  2012-04-25         3001          NaN

Missing values of the said DataFrame:

Ord_no         4
Punch_amt      0
Ord_data       1
Customer_id    0
Salesman_id    3
dtype: int64

In [12]:
#import pandas and numpy library
import pandas as pd
import numpy as np
data1={"Ord_no":[70001,np.nan,70002,70004,np.nan,70005,np.nan,700010,70003,70012,np.nan,70013],
    "Punch_amt":[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45,75.29,3045.6],
      "Ord_data":["2012-10-05","2012-09-10",np.nan,"2012-08-17","2012-09-10","2012-07-27","2012-09-10","2012-10-10","2012-10-10","2012-06-27","2012-08-17","2012-04-25"],
      "Customer_id":[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
      "Salesman_id":[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]
    }

#convert the data to dataframe
d_frame=pd.DataFrame(data1)
print("Original orders DataFrame:")
print(d_frame)
print()

#drop the included null values rows
d_frame.dropna(inplace=True)
print("Drop the rows where at least onne element is missing:")
print(d_frame)

Original orders DataFrame:
      Ord_no  Punch_amt    Ord_data  Customer_id  Salesman_id
0    70001.0     150.50  2012-10-05         3002       5002.0
1        NaN     270.65  2012-09-10         3001       5003.0
2    70002.0      65.26         NaN         3001       5001.0
3    70004.0     110.50  2012-08-17         3003          NaN
4        NaN     948.50  2012-09-10         3002       5002.0
5    70005.0    2400.60  2012-07-27         3001       5001.0
6        NaN    5760.00  2012-09-10         3001       5001.0
7   700010.0    1983.43  2012-10-10         3004          NaN
8    70003.0    2480.40  2012-10-10         3003       5003.0
9    70012.0     250.45  2012-06-27         3002       5002.0
10       NaN      75.29  2012-08-17         3001       5003.0
11   70013.0    3045.60  2012-04-25         3001          NaN

Drop the rows where at least onne element is missing:
    Ord_no  Punch_amt    Ord_data  Customer_id  Salesman_id
0  70001.0     150.50  2012-10-05         3002       5002.0
5  70005.0    2400.60  2012-07-27         3001       5001.0
8  70003.0    2480.40  2012-10-10         3003       5003.0
9  70012.0     250.45  2012-06-27         3002       5002.0