In [1]:
#import pandas library
import pandas as pd

In [2]:
#Take data
score={"Math":[78,85,96,80,86],
      "English":[84,94,89,83,86],
       "Hindi":[86,97,96,72,83]
      }
#Create the dataframe
d_frame=pd.DataFrame(score)
print(d_frame)

   Math  English  Hindi
0    78       84     86
1    85       94     97
2    96       89     96
3    80       83     72
4    86       86     83

In [3]:
#import pandas and numpy library
import pandas as pd
import numpy as np

#Take data
exam_data={"Name":["Anastasia","Dima","Katherine","James","Emily","Michael","Matthew","Laura","Kevin","Janas"],
          "Score":[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
           "Attempts":[1,3,2,3,2,3,1,1,2,1],
           "Qualify":["Yes","No","Yes","No","No","Yes","Yes","No","No","Yes"]
          }
#Create the dataframe
d_frame=pd.DataFrame(exam_data)
print(d_frame)

        Name  Score  Attempts Qualify
0  Anastasia   12.5         1     Yes
1       Dima    9.0         3      No
2  Katherine   16.5         2     Yes
3      James    NaN         3      No
4      Emily    9.0         2      No
5    Michael   20.0         3     Yes
6    Matthew   14.5         1     Yes
7      Laura    NaN         1      No
8      Kevin    8.0         2      No
9      Janas   19.0         1     Yes

In [4]:
print(d_frame.loc[d_frame["Name"]=="Dima"])

   Name  Score  Attempts Qualify
1  Dima    9.0         3      No

In [5]:
d_frame.loc[d_frame["Name"]=="Dima",["Qualify"]]=["Yes"]
print(d_frame)

        Name  Score  Attempts Qualify
0  Anastasia   12.5         1     Yes
1       Dima    9.0         3     Yes
2  Katherine   16.5         2     Yes
3      James    NaN         3      No
4      Emily    9.0         2      No
5    Michael   20.0         3     Yes
6    Matthew   14.5         1     Yes
7      Laura    NaN         1      No
8      Kevin    8.0         2      No
9      Janas   19.0         1     Yes

In [6]:
d_frame.insert(2,"Scores",exam_data["Score"])
print(d_frame)

        Name  Score  Scores  Attempts Qualify
0  Anastasia   12.5    12.5         1     Yes
1       Dima    9.0     9.0         3     Yes
2  Katherine   16.5    16.5         2     Yes
3      James    NaN     NaN         3      No
4      Emily    9.0     9.0         2      No
5    Michael   20.0    20.0         3     Yes
6    Matthew   14.5    14.5         1     Yes
7      Laura    NaN     NaN         1      No
8      Kevin    8.0     8.0         2      No
9      Janas   19.0    19.0         1     Yes

In [7]:
print(d_frame.loc[d_frame["Scores"]==12.5])

        Name  Score  Scores  Attempts Qualify
0  Anastasia   12.5    12.5         1     Yes

In [8]:
d_frame.loc[d_frame["Scores"]==12.5,"Scores"]=[13]
print(d_frame)

        Name  Score  Scores  Attempts Qualify
0  Anastasia   12.5    13.0         1     Yes
1       Dima    9.0     9.0         3     Yes
2  Katherine   16.5    16.5         2     Yes
3      James    NaN     NaN         3      No
4      Emily    9.0     9.0         2      No
5    Michael   20.0    20.0         3     Yes
6    Matthew   14.5    14.5         1     Yes
7      Laura    NaN     NaN         1      No
8      Kevin    8.0     8.0         2      No
9      Janas   19.0    19.0         1     Yes