In [1]:
#import pandas and scipy library and constants from scipy directory
import pandas as pd
import scipy
from scipy import constants as cons

In [2]:
csv_file="https://raw.githubusercontent.com/AnudipAE/DANLC/master/people_heights.csv"

#read csv file
d_frame=pd.read_csv(csv_file)

#calculate height in centimeter and add a column
d_frame["Height (cm)"]=d_frame["Height (inches)"]*cons.inch*100

#show top 5 data
d_frame.head(5)

       Name  Height (inches)  Height (cm)
0  Person 1            60.03     152.4762
1  Person 2            49.51     125.7554
2  Person 3            82.97     210.7438
3  Person 4            64.19     163.0426
4  Person 5            54.42     138.2268

In [3]:
#save to a csv file
d_frame.to_csv("C:/Users/Protiva/OneDrive/Desktop/Anudip_python/27 Excel/Height(cm)_data.csv",index=False)